$icon-import: true !default;

$icon-classname: 'icon' !default;
$icon-vertical-align: middle !default;
$icon-fill: currentColor !default;

@if ($icon-import) {
    .#{$icon-classname} {
        fill: $icon-fill;
        vertical-align: $icon-vertical-align;
        position: relative;
        width: 1rem;
        height: 1rem;

        &--size-md {
            width: 2rem;
            height: 2rem;
        }
    }
}
