$b: 'main-sidebar';

.#{$b} {
    background-color: get-brand-color();
    color: #fff;
    padding: 1rem;
    position: relative;
    overflow: hidden;
    width: 10rem;

    &__menu {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 999;
    }

    &__menu-item {
        $menu-item: &;
        padding: 0.5rem 0;

        &.is-active {
            color: get-brand-color('secondary');
        }

        &__link {
            display: flex;
            flex-flow: column;
            color: inherit;
            text-decoration: none;
            text-align: center;
            align-items: center;
            font-size: 1.2rem;
            padding: 0.5rem;

            .icon {
                display: block;
                width: 3rem;
                height: 3rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}
