$b: 'option-toggle';

.#{$b} {
    position: relative;
    max-width: 100%;

    input[type='checkbox'] {
        opacity: 0;
        position: absolute;

        + label {
            display: block;
            color: #fff;
            padding: 0.5rem;
            line-height: 1;
            cursor: pointer;

            svg {
                margin-right: 0.5rem;
            }
        }

        &:checked {
            + label {
                color: #fff;
            }
        }
    }
}
