$b: 'single-value-display';

.#{$b} {
    padding: 1rem;
    text-transform: uppercase;
    font-size: $font-size-small;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;

    &__data {
        flex: 1 1 16rem;
    }

    &__value {
        font-size: 4.5rem;
        cursor: pointer;
    }

    &--normal {
        color: get-gray-color('dark');
    }

    &--warning {
        background-color: get-status-color('warning');
        color: #333;
    }

    &--danger {
        background-color: get-status-color('danger');
        color: #fff;
    }

    &--settings-only {
        margin-top: -4px;
        padding: 8px 8px 0px 0px;
        align-items: flex-start;
        flex-wrap: wrap;

        > * {
            flex: 1 1 calc(33% - 2rem);
        }
    }
}

.#{$b}-settings {
    margin: 1rem 0rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &__controls {
        font-family: monospace;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: -0.25rem;
        text-transform: none;
        cursor: pointer;
    }

    &__control {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        margin-bottom: 1rem;
    }

    &__value {
        flex-grow: 1;
        text-align: end;
        margin-right: 2rem;

        &__name {
            margin-bottom: 0;
            font-size: 0.9rem;
        }

        &__unit {
            margin-bottom: 0;
            font-size: 0.9rem;
        }

        &__value {
            font-size: 3.5rem;
            line-height: 3.5rem;
        }
    }
    

    &__alarm {
        background-color: #ff6600;
    }
}

.#{$b}-settings__header {
    color: white;
    background-color: darkgray;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: $font-size-base;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    text-align: start;
    border-left: 1px solid white;
    border-right: 1px solid white;

    svg {
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;        
    }

    .switch__option1 {
        margin-right: 0.5rem;
    }

    .switch {
        align-self: flex-start;
        cursor: pointer;
        flex: 1 1 calc(50% - 2rem);
    }
}
