$b: 'single-value-display';

.#{$b} {
    padding: 1rem;
    text-transform: uppercase;
    font-size: $font-size-small;
    border-radius: $border-radius-base;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;

    &__data {
        flex: 1 1 16rem;
    }

    &__settings {
        flex-basis: 18rem;
        margin: -1rem;
    }

    &__value {
        font-size: 3.0rem;
        font-family: monospace;
        cursor: pointer;
    }

    &--default {
        background-color: get-status-color('info');
        color: #fff;
    }

    &--normal {
        background-color: get-status-color('success');
        color: #fff;
    }

    &--warning {
        background-color: get-status-color('warning');
        color: #333;
    }

    &--alarm {
        background-color: get-status-color('danger');
        color: #fff;
    }

    &--settings-only {
        padding: 0;
        align-items: flex-start;
        flex-wrap: wrap;
        border: 1px solid #fff;

        > * {
            flex: 1 1 calc(33% - 2rem);
        }
    }
}

.#{$b}-settings {
    margin: 1rem;

    &__name {
        margin-bottom: 0;
    }

    &__controls {
        font-family: monospace;
        display: flex;
        align-items: center;
        margin: -0.25rem;
        text-transform: none;
        cursor: pointer;
    }

    &__control {
        background-color: #fff;
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        margin: 0.25rem;
    }

    &__value {
        font-size: 2rem;
        margin-right: 0.2rem;
    }

    &__alarm {
        background-color: #ff6600;
    }
}

.#{$b}-settings__header {
    color: white;
    background-color: darkgray;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: $font-size-base;
    border-radius: $border-radius-base;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    text-align: start;
    border-left: 1px solid white;
    border-right: 1px solid white;

    svg {
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;        
    }

    .switch__option1 {
        margin-right: 0.5rem;
    }

    .switch {
        align-self: flex-start;
        cursor: pointer;
        flex: 1 1 calc(50% - 2rem);
    }
}
