$b: 'single-value-display';

.#{$b} {
    padding: 1rem;
    text-transform: uppercase;
    font-size: $font-size-small;
    border-radius: $border-radius-base;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;

    &__data {
        flex: 1 1 16rem;
    }

    &__value {
        font-size: 4.5rem;
        cursor: pointer;
    }

    &--normal {
        color: get-gray-color('dark');
    }

    &--warning {
        background-color: get-status-color('warning');
        color: #333;
    }

    &--danger {
        background-color: get-status-color('danger');
        color: #fff;
    }

    &--settings-only {
        padding: 0;
        align-items: flex-start;
        flex-wrap: wrap;

        > * {
            flex: 1 1 calc(33% - 2rem);
        }
    }
}

.#{$b}-settings {
    margin: 1rem 0rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &__controls {
        font-family: monospace;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: -0.25rem;
        text-transform: none;
        cursor: pointer;
    }

    &__control {
        background-color: get-brand-color('primary', 'lighter-10');
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        margin: 0.5rem;

        border: 1px solid get-brand-color('primary', 'lighter-10');
        position: relative;
        color: white;

        &::before {
            display: block;
            position: absolute;
            height: calc(2px + 100%);
            width: 8px;
            background-color: get-brand-color('primary', 'lighter-15');
            content: '';
            top: 3px;
            left: -9px;
            transform: skewY(-45deg);
        }

        &::after {
            display: block;
            position: absolute;
            width: calc(2px + 100%);
            height: 8px;
            background-color: get-brand-color('primary', 'lighter-20');
            content: '';
            top: calc(100% + 1px);
            left: -5px;
            transform: skewX(-45deg);
        }

        &:hover {
            transform: translate(-4px, 4px);

            &::before {
                height: calc(2px + 100%);
                width: 4px;
                top: 1px;
                left: -5px;
            }
    
            &::after {                
                width: calc(3px + 100%);
                height: 4px;
                top: calc(100% + 1px);
                left: -3px;
                transform: skewX(-45deg);
            }
        }

        &:hover {
            outline: none;
        }
    }

    &__value {
        flex-grow: 1;
        text-align: end;
        margin-right: 1rem;

        &__name {
            margin-bottom: 0;
            font-size: 0.9rem;
        }

        &__unit {
            margin-bottom: 0;
            font-size: 0.9rem;
        }

        &__value {
            font-size: 3.5rem;
            line-height: 3.5rem;
        }
    }
    

    &__alarm {
        background-color: #ff6600;
    }
}

.#{$b}-settings__header {
    color: white;
    background-color: darkgray;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: $font-size-base;
    border-radius: $border-radius-base;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    display: flex;
    flex-flow: row nowrap;
    text-align: start;
    border-left: 1px solid white;
    border-right: 1px solid white;

    svg {
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    span {
        vertical-align: middle;        
    }

    .switch__option1 {
        margin-right: 0.5rem;
    }

    .switch {
        align-self: flex-start;
        cursor: pointer;
        flex: 1 1 calc(50% - 2rem);
    }
}
