.u-text {
    &-left { text-align: left !important; }

    &-right { text-align: right !important; }

    &-center { text-align: center !important; }

    &-justify { text-align: justify !important; }

    &-nowrap { white-space: nowrap !important; }

    &-lowercase { text-transform: lowercase !important; }

    &-uppercase { text-transform: uppercase !important; }

    &-capitalize { text-transform: capitalize !important; }

    &-weight-strong { font-weight: $font-weight-bold !important; }

    &-weight-regular { font-weight: $font-weight-regular !important; }

    &-italic { font-style: italic !important; }
}
