$b: 'page-dashboard';

.#{$b} {
    display: flex;
    flex-direction: column;
    margin: -2rem;

    &__header {
        box-shadow: 0 1px 5px rgba(#000, 0.25);
        padding: 1rem;
        color: get-gray-color('light');
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__timing-info {
        margin-left: auto;
        margin-right: 3rem;
        font-weight: $font-weight-bold;
        line-height: 1.1;
        cursor: pointer;
    }

    &__machine-info {
        button {
            color: #FFF;
            width: 3rem;
            height: 3rem;
            line-height: 3rem;
            margin: 0rem;
            padding: 0;

            &.running {
                background-color: rgb(180, 3, 3);
            }

            &.inactive {
                background-color: rgb(3, 131, 41);
            }
        }

        button:last-child {
            margin-left: 1rem;
        }
    }

    &__body {
        padding: 1rem;
        background-color: #f8f9fc;
        flex: 1 0 auto;
    }
}
