$b: 'page-logs';

$b: 'page-logs';

.#{$b} {
    &__header {
        display: flex;
        flex-flow: row nowrap;

        &__buttons {
            flex-grow: 0;
            vertical-align: middle;

            button {
                vertical-align: middle;
            }
        }

        &__system-info {
            flex-grow: 1;
            margin-bottom: 2em;
    
            &__row {
                display: flex;
                flex-flow: row nowrap;
    
                &__label {
                    font-weight: bold;
                    flex-grow: 0;
                    margin-right: 2em;
                    min-width: 13em;
                }
    
                &__value {
                    font-weight: normal;
                    flex-grow: 1;
                }
            }
        }
    }

    
}