$grid-gutter-width: 30px !default;
$grid-columns: 12 !default;
$grid-viewport-max-width: 1440px !default;

$grid-container-widths: () !default;
/* stylelint-disable-next-line scss/no-duplicate-dollar-variables */
$grid-container-widths: map-merge(
    (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
    ),
    $grid-container-widths
);

.wrapper {
    max-width: $grid-viewport-max-width;
    margin: 0 auto;
}

// Container
.container {
    @include make-container;
    @include make-container-max-widths;
}

.container-fluid {
    @include make-container;
}

// Row
.row {
    @include make-row;

    // Remove the negative margin from default .row, then the horizontal padding
    // from all immediate children columns (to prevent runaway style inheritance).
    &--no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col, > [class*='col-'] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

// Columns
@include make-grid-columns;
