$text-color:    get-gray-color('dark') !default;
$body-bg:       #fff !default;

$border-radius-base: 3px !default;

$spacers: (
    '-2': -2rem,
    '-1': -1rem,
    '0': 0,
    '1': 1rem,
    '2': 2rem,
) !default;
