/* stylelint-disable scss/no-duplicate-dollar-variables */

$colors-brand: () !default;
$colors-brand: map-merge(
    (
        primary: (
            base: #003399,
            dark: darken(#003399, 10%),
            light: lighten(#003399, 10%),
            lighter-10: lighten(#003399, 10%),
            lighter-15: lighten(#003399, 15%),
            lighter-20: lighten(#003399, 20%),
            lighter-2: lighten(#003399, 2%)
        ),
        secondary: (
            base: #ff6600,
            dark: darken(#ff6600, 10%)
        )
    ),
    $colors-brand
);

$colors-gray: () !default;
$colors-gray: map-merge(
    (
        primary: (
            lighter: #eee,
            light: #999,
            base: #666,
            darker: #444,
            dark: #333
        )
    ),
    $colors-gray
);

$colors-status: () !default;
$colors-status: map-merge(
    (
        success: (
            light: #dff0d8,
            lighter-10: lighten(#1cc88a, 10%),
            lighter-2: lighten(#1cc88a, 2%),
            base: #1cc88a,
        ),
        info: (
            light: #d9edf7,
            base: #31708f,
        ),
        warning: (
            light: #fcf8e3,
            base: #f6c23e,
        ),
        danger: (
            light: #f2dede,
            lighter-10: lighten(#e74a3b, 10%),
            lighter-2: lighten(#e74a3b, 2%),
            base: #e74a3b,
            darker: darken(#e74a3b, 5%),
        )
    ),
    $colors-status
);

$colors-social: () !default;
$colors-social: map-merge(
    (
        twitter: (
            base: #32b9f0
        ),
        facebook: (
            base: #4267b2
        ),
        linkedin: (
            base: #0077b5
        )
    ),
    $colors-social
);
