$font-family-base:                  sans-serif !default;
$font-family-alt:                   sans-serif !default;

$font-size-small:                   0.75rem !default; // 12px
$font-size-base:                    1rem !default; // 16px
$font-size-medium:                  1.5rem !default; // 24px
$font-size-large:                   2rem !default; // 32px

$font-size-h1:                      2rem !default; // 32px
$font-size-h2:                      1.5rem !default; //24px
$font-size-h3:                      1.125rem !default; //18px

$font-weight-regular:               400 !default;
$font-weight-bold:                  800 !default;

$line-height-base:                  1.6 !default;
$line-height-computed:              floor(($font-size-base * $line-height-base)) !default;

$headings-font-family:              $font-family-base !default;
$headings-font-weight:              $font-weight-bold !default;
$headings-line-height:              1.1 !default;
