html {
    box-sizing: border-box;
    height: 100%;

    *, *::before, *::after {
        box-sizing: inherit;
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    height: 100%;
}

#__next {
    height: 100%;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background-color: get-brand-color();
}

::selection {
    text-shadow: none;
    color: #fff;
    background-color: get-brand-color();
}

a {
    transition: color 0.2s ease-out;
    color: get-brand-color();

    &:hover, &:focus {
        color: get-brand-color('primary', 'dark');
    }

    &.link-unstyled {
        transition: none;
        color: inherit;

        &:hover, &:focus {
            color: inherit;
            text-decoration: none;
        }
    }
}

button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: 0 none;
    cursor: pointer;
}

textarea {
    resize: vertical;
}
