@function get-color($map, $key, $shade) {
    @if map-has-key($map, $key) {
        $color: map-get($map, $key);

        @if (map-has-key($color, $shade)) {
            @return map-get($color, $shade);
        } @else {
            @warn 'Unknown `#{$shade}` in color palette `#{$key}`.';
            @return null;
        }
    }

    @warn 'Unknown `#{$key}` in color palette.';
    @return null;
}

@function get-brand-color($key: 'primary', $shade: 'base') {
    @return get-color($colors-brand, $key, $shade);
}

@function get-status-color($key: 'primary', $shade: 'base') {
    @return get-color($colors-status, $key, $shade);
}

@function get-gray-color($shade: 'base') {
    @return get-color($colors-gray, 'primary', $shade);
}

@function get-social-color($key, $shade: 'base') {
    @return get-color($colors-social, $key, $shade);
}
